html
  head
    title='Customer Image [Tala Signed]'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Customer Image 
        p This is the  customer image signed by Tala Security
